<% content_for :javascript do %>
  <script src="https://js.stripe.com/v3/"></script>
<% end %>

<% if @subscribed %>
  <%= button_tag '購読を解除する', id: "unsubscribe" %>
<% else %>
  テスト用カード番号：<a href="https://stripe.com/docs/billing/subscriptions/cards#test-integration" target="_blank">Subscriptions with card payments | Stripe Billing</a>
  <%= button_tag '購読する（月額1,000円）', id: "subscribe" %>
<% end %>

